<main>
  <div>
    <!--profile-->
    <main class="container">
      <div class="my-1 p-1 bg-body rounded">
        <div
          class="d-flex align-items-center p-3 my-3 text-white rounded shadow-lg"
          style="background-color: rgb(7, 25, 31)"
        >
          <h2 class="me-3"><i class="bi bi-send-fill"></i></h2>
          <div class="lh-3">
            <h1 class="h6 mb-0 text-white lh-1">
              Welcome to your profile {{ username }}
            </h1>
            <small>@{{ username }}</small>
          </div>
        </div>
        <div class="input-group mb-3 d-flex p-2">
          <div class="form-group">
            <input
              required
              [(ngModel)]="user"
              (change)="getUsernames(user)"
              name="username"
              type="text"
              class="form-control"
              placeholder="Enter user"
              aria-label="Enter user"
              style="width: 100%"
              id="username"
            />
            <div
              *ngFor="let u of userlist"
              class="p-3 my-3 text-bold text-dark rounded shadow-lg"
            >
              <p>{{ u }}</p>
            </div>
          </div>
        </div>
        <!-- All Tweets -->
        <div class="my-4 p-3 bg-body rounded shadow-lg">
          <h6 class="border-bottom pb-2 mb-0">My Tweets</h6>

          <div *ngFor="let t of tweetItems" class="list-group w-auto">
            <a
              class="list-group-item list-group-item-action d-flex gap-3 py-3"
              aria-current="true"
            >
              <svg
                class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                width="32"
                height="32"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff" />
                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
              </svg>
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">@{{ t.userName }}</h6>
                  <p class="mb-0 opacity-90">
                    {{ t.tweets }}
                  </p>
                  <button type="button" class="btn" (click)="likeATweet(t.id)">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                  </button>
                  <span class="badge badge-primary text-muted">{{
                    t.likedUsers.length == 0 ? 0 : t.likedUsers.length
                  }}</span>
                  <button class="btn" (click)="openModal(t.id)">
                    <i class="bi bi-chat-dots-fill"></i>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <span class="badge badge-primary text-muted">{{
                    t.commentsList.length == 0 ? 0 : t.commentsList.length
                  }}</span>
                  <button class="btn" (click)="deleteTweet(t.id)">
                    <i class="bi bi-trash-fill"></i>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button class="btn" (click)="editTweet(t.id)">
                    <i class="bi bi-pencil-square"></i>
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
                <small class="opacity-75 text-nowrap">{{
                  t.date | dateAgo
                }}</small>
              </div>
            </a>
          </div>

          <!-- <small class="d-block text-end mt-3">
          <a href="#">All Tweets</a>
        </small> -->
        </div>
      </div>
    </main>
    <script
      src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!--Comment modal -->
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: display }"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title d-flex text-muted">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="lightblue"
                class="bi bi-send-fill"
                viewBox="0 0 16 16"
                style="padding-right: 10px"
              >
                <path
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
                />
              </svg>
              <h6 class="pb-2 mb-0">Comment Now</h6>
            </div>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onCloseHandled()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="my-1 p-1">
              <div class="d-flex text-muted pt-3">
                <svg
                  class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                  width="32"
                  height="32"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: 32x32"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" />
                  <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>

                <p class="pb-3 mb-0 small lh-sm">
                  <strong class="d-block text-gray-dark"
                    >@{{ tweetItems[tweetId].userName }}</strong
                  >
                  {{ tweetItems[tweetId].tweets }}
                </p>
              </div>

              <div class="d-flex text-muted pt-3">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your Comment"
                    [(ngModel)]="comment"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary"
                      type="button"
                      (click)="postAcomment()"
                    >
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let c of tweetCommentList" class="list-group w-auto">
              <a
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
              >
                <svg
                  class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                  width="32"
                  height="32"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: 32x32"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#007bff" />
                  <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">@{{ c.username }}</h6>
                    <p class="mb-0 opacity-90">
                      {{ c.comment }}
                    </p>
                  </div>
                  <small class="opacity-75 text-nowrap">{{
                    c.date | dateAgo
                  }}</small>
                </div>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              (click)="onCloseHandled()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Edit A tweet-->

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayEdit }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title d-flex text-muted">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="lightblue"
              class="bi bi-send-fill"
              viewBox="0 0 16 16"
              style="padding-right: 10px"
            >
              <path
                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
              />
            </svg>
            <h6 class="pb-2 mb-0">Edit A tweet</h6>
          </div>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="onCloseHandledEdit()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="my-1 p-1">
            <!-- <div class="d-flex text-muted pt-3">
              <svg
                class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                width="32"
                height="32"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff" />
                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
              </svg>

              <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-gray-dark"
                  >@{{ tweetItems[tweetId].userName }}</strong
                >
                {{ tweetItems[tweetId].tweets }}
              </p>
            </div> -->

            <div class="d-flex text-muted pt-3">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Comment"
                  [(ngModel)]="editTweetobj"
                  [value]="tweetItems[tweetId].tweets"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="editATweet()"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            (click)="onCloseHandledEdit()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</main>